*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

 body{
background: url(imagens/miranhas.jpg);
 }

 h1 {
  text-align: center;
  justify-content: center;
  justify-items: center;
  color: rgb(8, 8, 10);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#title{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-align: center;
 
}

#color-palette {
 position: relative;
 display: flex;
 margin-top: 30px;
 justify-content: center;

}

#black {
 background-color: black;
 border: 1px solid black;
 width: 40px;
 height: 40px;
}
#gray{
background-color: rgb(227, 233, 236);
border: 1px solid black;
width: 40px;
 height: 40px;
}
#red{
background-color: rgb(251, 5, 46);
border: 1px solid black;
width: 40px;
 height: 40px;
}
#blue{
background-color: rgb(7, 81, 165);
border: 1px solid black;
width: 40px;
 height: 40px;
}

.color{
 display: flex;
 border: 1px solid black;
 display: inline-block;
	width: 3rem;
 height: 3rem;
 margin: 1rem;
}

.navbar {
 margin-left: 570px;
 margin-top: 50px;
 background-color:rgb(248, 232, 232);
 width: 450px;
 border-radius: 5px;
 justify-content: center;
 text-align: center;
 border-color: red;
 border: 20px;
}
.pixel{
 background-color: white;
 width: 40px;
 height: 40px;
 border: 1px solid black;
 display: flex;
 }
 
navbar {
 padding: 1rem;
 margin-bottom: 1rem;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: 300px;
}

.input{
 height: 50px;
 padding: 0 1em;
 border-color: rgb(7, 6, 6);
 border-radius:2px ;
 text-align: center;
 
}
 section{
 }

.color {
 border: black solid 1px;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
}

#pixel-board{

 display: flex;
 align-items: center;
}

#clear-board{
background-color:white; /* white */
padding: 20px;
margin: 10px;
border-radius: 30%;
border-color: black ;
border-style: groove; 
display: block;
margin-left: auto;   /* centralizar */
margin-right: auto;  /* centralizar */
 
}

.btn{
 width: 200px;
 height: 50px;
 border-radius: 50px;
 border-color: red;
 text-align: center;
 justify-content: center;
}



.color,.size,.btn {
 width: 200px;
 text-align: center;
 justify-content: center;
}