body {
  margin: 0;
  color: #000;
  background-image: url(./imagens/miranhas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.137);
}

button {
  box-shadow: 3px 4px 0px 0px #000000;
  background: linear-gradient(to bottom, #111459 5%, #a4abf8 100%);
  background-color: #000000;
  border-radius: 18px;
  border: 1px solid #e7eaea;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000000;
}

header {
  background-color: #510b0b7e;

}

h1 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
  color: #000000;
  font-size: 40px;
  font-family: 'Press Start 2P', serif;
}

#black {
  background-color: black;

}

#color-palette {
  margin: 0 auto;
  margin-left: 45%;
  width: 300px;
  height: 50px;
  /* margin-left: 570px; */
}

.color {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
}

#pixel-board {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  padding-top: 4px;
  padding: 100px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 4px rgb(0, 0, 0);
}


.pixel {
  background-color: white;
  border: 1px solid black;
  margin-top: -4px;
  display: inline-block;
  width: 40px;
  height: 40px;
}

#botao {
  display: block;
  margin-top: 20px;
  text-align: center;
}

#board-size {
  height: 40px;
  width: 200px;
  border-radius: 20px;
}

#clear-board {
  margin-top: 20px;
  display: initial;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  border-radius: 20px;
  background-color: #005f73;
  color: #000000;
  font-size: 15px;
  width: 200px;
  height: 50px;
}

#generate-board {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  width: 85px;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  border-radius: 20px;
  background-color: #005f73;

}


#clear-board:hover {
  color: #ff0000;
}

#generate-board:hover {
  color: #d51515;
}

section {
  margin-bottom: 50px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
