*{
 margin: 10;
 padding: 0;
 box-sizing: border-box;

 
}

h1 {
 color: rgb(8, 8, 10);
 background-color: rgb(3, 63, 119);
 font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {

 }

 body{
background: url(imagens/miranhas.jpg);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

 }

 h1 {
  text-align: center;
  justify-content: center;
  justify-items: center;
  color: rgb(8, 8, 10);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#title{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-align: center;
 
}

.color{
 border: black solid 1px;
}

#color-palette {
 background-color: aliceblue;
 padding: 20px;
 width: 25%;
 margin-bottom: 20px;
 margin-top: 20px;
 display: flex;
 justify-content: center;
 border:black solid 1px;
 }

#black {
 background-color: black;
 width: 40px;
 height: 40px;
 border:black solid 1px;
}
#gray{
background-color: rgb(227, 233, 236);
width: 40px;
height: 40px;
border:black solid 1px;
}
#red{
background-color: rgb(251, 5, 46);
width: 40px;
height: 40px;
border:black solid 1px;
}
#blue{
background-color: rgb(7, 81, 165);
width: 40px;
 height: 40px;
 border:black solid 1px;
}

.color{
 
}


.pixel{
 background-color: white;
 width: 40px;
 height: 40px;
 border:black solid 1px;
 display: table-cell;

 }
 

.input{
 height: 50px;
 padding: 0 1em;
 border-color: rgb(7, 6, 6);
 border-radius:2px ;
 text-align: center;
 
}
 section{
  
  margin-left: 550px;
 }

.color {
 border: 1px solid black;
 display: inline-block;
 margin: 10px;
}

#pixel-board {
 display: flex;
 border: 1px solid black;
}

.container {
 --size: 5 ;
display: grid;
grid-template-columns: repeat(var(--size),1fr);
grid-template-rows: repeat(var(--size),1fr);
}.

.pixel{
 
 background-color: white;
 width: 40px;
 height: 40px;
 display: inline-block;
 border: 1px solid black;
}


.navbar{
background-color: rgb(94, 96, 192);
border-radius: 3px;


}
.navbar {
padding: 1em;
margin-bottom: 1em;
display: flex;
justify-content: center;
align-items: center;
}

#clear-board, input{
 height: 35px;
 padding: 0 1em;
}

.color {
 padding: 0.25em;
 width: 100px;
 margin: 0 1em;
}

audio{
padding: 40px;


}